@font-face {
    font-family: 'Segoe UI Light';
    src: url('fonts/segoeuil.eot');
    src: url('fonts/segoeuil.woff') format('woff'), url('fonts/segoeuil.ttf') format('truetype'), url('fonts/segoeuil.otf') format('opentype'), url('fonts/segoeuil.svg') format('svg');
}

@font-face {
    font-family: 'Segoe UI Regular';
    src: url('fonts/segoeui.eot');
    src: url('fonts/segoeui.woff') format('woff'), url('fonts/segoeui.ttf') format('truetype'), url('fonts/segoeui.otf') format('opentype'), url('fonts/segoeui.svg') format('svg');
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url('fonts/segoeuib.eot');
    src: url('fonts/segoeuib.woff') format('woff'), url('fonts/segoeuib.ttf') format('truetype'), url('fonts/segoeuib.otf') format('opentype'), url('fonts/segoeuib.svg') format('svg');
}

@font-face {
    font-family: 'Segoe UI Light Italic';
    src: url('fonts/segoeuili.eot');
    src: url('fonts/segoeuili.woff') format('woff'), url('fonts/segoeuili.ttf') format('truetype'), url('fonts/segoeuili.otf') format('opentype'), url('fonts/segoeuili.svg') format('svg');
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI Regular';
    background-color: #ff7e7e;
}

* {
    outline: none;
}

.wrapper {
    min-height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.wrapper.background1 {
    background-image: url('img/background1.png');
}

.wrapper.background2 {
    background-image: url('img/background2.png');
}

.wrapper:after {
    content: "";
    display: block;
    height: 100px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.relative {
    position: relative;
}

.reset {
    margin: 0;
    padding: 0;
}

ul.reset {
    list-style: none;
}

ul.reset:after {
    content: "";
    display: block;
    clear: both;
}

ul.reset li {
    float: left;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.center {
    width: 1024px;
    margin: 0 auto;
    display: block;
}

.bigtitle {
    text-align: center;
    padding: 10px 50px;
    margin: 0;
    font-family: 'Segoe UI Light';
    font-weight: normal;
}

.bigtitle span {
    display: inline-block;
    font-size: 60px;
    color: #ec6c6a;
    transform: rotate(-6deg) ;
    -webkit-transform: rotate(-6deg) ;
    -moz-transform: rotate(-6deg) ;
    -o-transform: rotate(-6deg) ;
    -ms-transform: rotate(-6deg) ;
    text-shadow: 5px 5px 1px #ececec;
}

.bigtitle span:nth-of-type(2) {
    margin-left: 165px;
    margin-top: -35px;
}

.socials {
    width: 172px;
}

.socials li {
    margin-right: 4px;
}

.socials li:last-child {
    margin-right: 0;
}

.socials a {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('img/socials.png');
    background-size: 160px 40px;
}

.socials a.vk{
    background-position: 0 0;
}

.socials a.tw {
    background-position: -40px 0;
}

.socials a.fb{
    background-position: -80px 0;
}

.socials a.gp {
    background-position: -120px 0;
}

header {
    font-family: 'Segoe UI Light';
    background-color: #ff7e7e;
    padding-top: 10px;
}

header .logo {
    position: absolute;
}

header .logo img {
    width: 163px;
    height: 75px;
}

header .menu1 {
    padding-top: 18px;
    margin-left: 190px;
    margin-right: 190px;
}

header .menu1 a {
    display: block;
    padding: 10px 15px;
    font-size: 18px;
    color: #070707;
    text-decoration: none;
}

header .menu1 a:hover {
    background-color: #fff;
    color: #000;
    text-decoration: underline;
}

header .socials {
    margin: -45px 0 0 0;
    float: right;
}

header .menu2 {
    background: #fff;
    padding-top: 40px;
    padding-bottom: 6px;
}

header .menu2 ul li {
    margin-right: 27px;
}

header .menu2 ul li:last-child {
    margin-right: 0;
}

header .menu2 a {
    display: block;
    text-decoration: none;
    padding-left: 15px;
}

header .menu2 a span {
    font-size: 24px;
    color: #080808;
    position: relative;
    z-index: 1;
}

header .menu2 a span:before {
    content: attr(data-before);
    position: absolute;
    left: -20px;
    top: -30px;
    font-size: 70px;
    color: #f1eeee;
    z-index: -1;
    line-height: 70px;
}

header .menu2 a:hover span:before {
    color: #ffce54;
}

header .menu2 ul li ul {
    position: absolute;
    z-index: 1;
    display: none;
}

header .menu2 ul li:hover ul {
    display: block;
}

header .menu2 ul li ul li {
    float: none;
    background-color: #fff;
    margin: 5px 0;
    padding: 5px 0;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.5);
}

header .menu2 ul li ul li:first-child {
    margin-top: 11px;
}

header .menu2 ul li ul li a {
    font-size: 18px;
    color: #080808;
    padding: 0 30px;
}

header .menu2 ul li ul li a:hover {
    text-decoration: underline;
}

footer:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 650px;
    background-color: transparent;
    background-image: -moz-linear-gradient(90deg, transparent 0%, #ffce54 100%);
    background-image: -webkit-linear-gradient(90deg, transparent 0%, #ffce54 100%);
    background-image: -o-linear-gradient(90deg, transparent 0%, #ffce54 100%);
    background-image: -ms-linear-gradient(90deg, transparent 0%, #ffce54 100%);
    background-image: linear-gradient(180deg, transparent 0%, #ffce54 100%);
    z-index: -1;
}

footer {
    height: 100px;
    position: relative;
    margin-top: -100px;
}

footer > div {
    width: 1024px;
    margin: 0 auto;
}

footer .left {
    padding: 20px 0px 0 10px;
}

footer .right {
    padding: 30px 10px 0 0;
}

footer .logo {
    float: left;
    margin-right: 12px;
}

footer .logo img {
    width: 128px;
    height: 60px;
}

footer p {
    float:left;
    margin: 0;
    padding: 0;
    padding-top: 8px;
}

footer span {
    display: block;
    font-family: 'Segoe UI Light';
    font-size: 18px;
    color: #ec6c6a;
}

footer .right span {
    float: left;
    font-size: 30px;
    margin-right: 12px;
}

footer .socials {
    padding: 0;
    float: right;
}

.homeSlider {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: -4px;
}

.homeSlider .images {
    position: relative;
    left: 0;
}

.homeSlider.motion .images {
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    transition-property: left;

    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.homeSlider .images li {
    margin-bottom: -4px;
}

.homeSlider .images li img {
    width: 100%;
}

.homeSlider .pagination {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.homeSlider .pagination ul {
    display: inline-block;
}

.homeSlider .pagination ul li {
    width: 22px;
    height: 22px;
    margin-right: 6px;
    background-color: #fff;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.3);
}

.homeSlider .pagination ul li:last-child {
    margin-right: 0;
}

.homeSlider .pagination ul li.active {
    background-color: #ec6c6a;
}

.homeSlider .pagination ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: transparent;
}

.homeSlider .pagination ul li.active a {
    cursor: default;
}

.content {
    width: 1024px;
    background-color: #fff;
    margin: 4px auto 0 auto;
}

.content.home .row {
    padding-top: 20px;
}

.content.home .left {
    width: 500px;
    margin: 0 8px;
}

.content.home .right {
    width: 435px;
    margin: 0 8px;
}

.content.home .gray {
    background-color: #eee;
    margin-top: -30px;
    padding-top: 40px;
    padding-bottom: 12px;
}

.content.home .bigtitle.vidos, .content.home .bigtitle.photos {
    position: relative;
    text-align: left;
}

.content.home .bigtitle.vidos:before {
    content: "";
    position: absolute;
    background-image: url('img/vidos-title.png');
    background-repeat: no-repeat;
    width: 116px;
    height: 107px;
    left: -6px;
    top: 15px;
}

.content.home .bigtitle.photos:before {
    content: "";
    position: absolute;
    background-image: url('img/photos-title.png');
    background-repeat: no-repeat;
    width: 116px;
    height: 107px;
    left: -6px;
    top: 30px;
}

.content.home .video {
    float: left;
    position: relative;
    width: 247px;
    height: 141px;
    overflow: hidden;
    margin-bottom: 6px;
}

.content.home .video:nth-child(odd) {
    margin-right: 6px;
}

.content.home .video:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url('img/vidos-play-72x72.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 72px;
    background-color: transparent;
    opacity: 0.65;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.content.home .video:hover:after {
    opacity: 1;
    background-position-x: center;
    background-position-y: 40px;
    background-size: 50px;
    background-color: rgba(0, 0, 0, 0.3);
}

.content.home .video.big {
    display: block;
    width: 500px;
    height: 287px;
}

.content.home .video.big:after {
    background-size: 94px;
}

.content.home .video.big:hover:after {
    background-position: center;
}

.content.home .photo {
    float: left;
    margin-bottom: 6px;
    margin-left: 6px;
    width: 141px;
    height: 141px;
    overflow: hidden;
    position: relative;
}

.content.home .photo:nth-of-type(3n - 2) {
    margin-left: 0;
}

.content.home .photo:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url('img/photos-show.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 72px;
    background-color: transparent;
    opacity: 0;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.content.home .photo:hover:after {
    opacity: 1;
    background-position-x: center;
    background-position-y: 40px;
    background-size: 50px;
    background-color: rgba(0, 0, 0, 0.3);
}

.content.home .photo.big {
    width: 288px;
    height: 288px;
}

.content.home .photo.big:after {
    background-size: 94px;
}

.content.home .photo.big:hover:after {
    background-position: center;
}

.content.home .video img, .content.home .photo img {
    width: 100%;
    height: 100%;
}

.content.home .video .desc, .content.home .photo .desc {
    position: absolute;
    bottom: -40px;
    width: 100%;
    margin: 0;
    padding: 18px 0px;
    text-align: center;
    text-decoration: underline;
    z-index: 1;
    color: #fff;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.content.home .video:hover .desc, .content.home .photo:hover .desc {
    bottom: 10px;
}

.content.home .big .desc {
    padding: 18px 14px;
    text-align: left;
    text-decoration: none;
    bottom: 0px;
}

.content.home .big:hover .desc {
    bottom: 0px;
}

.content.home .big .desc span {
    display: block;
}

.content.home .big .desc span.new {
    display: inline-block;
    padding: 0 5px 1px;
    background-color: #f6ff00;
    color: #000;
    font-size: 11px;
    line-height: 12px;
}

.content.home .big .desc span.title {
    font-size: 14px;
}

.content.home .big .desc span.date {
    font-size: 11px;
}

.content.home a.all {
    float: left;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding-top: 8px;
}

.content.home a.all:hover {
    text-decoration: underline;
}

.content.home a.share {
    float: right;
    width: 170px;
    height: 32px;
    font-size: 14px;
    color: #070707;
    background-image: url('img/a-share-back.png');
    background-size: 100%;
    text-decoration: none;
    text-align: center;
    padding-top: 12px;
}

.content.home a.share:hover {
    text-decoration: underline;
}

.content.home .projects {
    padding: 20px 8px;
}

.content.home a.project {
    float: left;
    padding-top: 100px;
    width: 135px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Segoe UI Light";
    font-size: 14px;
    text-decoration: none;
    color: #d64543;
    background-position-x: center;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 55%;
    margin-right: 10px;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.content.home a.project:nth-child(7n) {
    margin-right: 0;
}

.content.home a.project:hover {
    text-decoration: underline;
    background-size: 60%;
}

.content.home article {
    padding: 20px;
    font-size: 12px;
    color: #797979;
}

.content.projects section {
    padding-top: 20px;
}

.content.projects .row {
    padding: 20px;
}

.content.projects .project {
    float: left;
    padding-top: 100px;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Segoe UI Light";
    font-size: 18px;
    text-decoration: none;
    color: #d64543;
    background-position-x: center;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 55%;
    margin-right: 16px;
    margin-top: 30px;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.content.projects .project:nth-child(6n) {
    margin-right: 0;
}

.content.projects a.project:hover {
    text-decoration: underline;
    background-size: 60%;
}

.content.projects article {
    font-size: 12px;
    color: #797979;
}

.content.about blockquote {
    width: 740px;
}




.article_video
{
    font-size: 18px;
    color: #000;
    margin: 0px 22px;
    line-height: 24px;
    text-align: justify;
    font-weight: 0;
    padding-bottom: 22px;
}

a.arrow-link
{
    color: #288ace;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid #9ec2e4;
}

.table-header
{
    font-size: 36px;
    text-align: center;
    font-weight: normal;
    margin: 0px;
    margin-top: 44px;
    padding-bottom: 31px;
}

.sendInfo
{
    width: 490px;
    font-size: 14px;
    float: left;
}

.sendInfo h3
{
    font-size: 18px;
    margin-left: 13px;
}

.sendInfo table
{
    margin-top: -3px;
    height: 500px;
    border-spacing: 0px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.sendInfo table:hover
{
}

.sendInfo table tr
{
    height: 0px;
}

.sendInfo table td
{
    padding: 15px 15px 15px 12px;
    vertical-align: top;
}

.sendInfo table td:first-child
{
    width: 153px;
}

.helpSendInfo
{
    height: 70px;
    background-color: #ff7e7e;
    color: #ffffff;
    padding: 12px 15px 3px;
}

.sendInfo table tr:nth-child(odd)
{
    background-color: #f7f7f7;
}

.sendInfo table tr:nth-child(even)
{
    background-color: #eeeded;
}

.showSendInfo a
{
    color: #1285c0;
    font-size: 18px;
    display: block;
    padding: 22px 0px 44px;
    text-align: center;
}

.bouttonYellow
{
    display: block;
    background: #ffce54;
    width: 295px;
    text-align: center;
    color: #000000;
    border: none;
    clear: both;
    margin: 12px auto 26px;
    padding: 17px 0px;
    cursor: pointer;
    outline: none;
    font-size: 18px;
}

#slideForm
{
    width: 100%;
    border: 5px solid #ffce54;
    margin-left: -5px;
    display: none;
    background-color: #f4f3f3;
}

#slideForm h3,
.partners
{
    margin: 27px 0px 47px;
    font-size: 36px;
    color: #010101;
    text-align: center;
}

#slideForm .rowForm
{
    float: left;
    margin: 0px 22px 52px 32px;
    width: 250px;
}

#slideForm input[type="text"],
#slideForm input[type="email"]
{
    width: 218px;
    height: 36px;
    border: 1px solid #cbc8c8;
    font-size: 12px;
    padding: 0px 9px;
    background: #f4f3f3;
    margin-bottom: 18px;
}

#slideForm .inputLabel
{
    display: inline-block;
    margin-bottom: 12px;
    font-size: 18px;
}

.redStar
{
    color: #ff7e7e;
}

#slideForm label
{
    display: block;
    margin-bottom: 16px;
}

#slideForm input[type="checkbox"]
{
    display: none;
}

#slideForm textarea
{
    width: 245px;
    border: 1px solid #cbc8c8;
    padding: 10px 7px;
    background: #f4f3f3;
    resize: none;
    font-size: 12px;
    height: 80px;
}

#slideForm input[type="checkbox"]:disabled + span:before,
#slideForm input[type="checkbox"] + span:before
{
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    float: left;
    margin-right: 10px;
    background-image: url(img/unchecked.png);
    background-repeat: no-repeat;
}

#slideForm input[type="checkbox"]:checked + span:before
{
    background-image: url(img/checked.png);
}

#slideForm .rowForm:last-child
{
    width: 384px;
    margin: 0px 0px 52px 32px;
}

.dateForm
{
    float: left;
    margin-top: 22px;
    font-size: 18px;
}

.dateForm input
{
    height: 34px;
    width: 113px;
    padding-left: 9px;
    border: 1px solid #cbc8c8;
    background-color: #f4f3f3;
}

.dateForm input + div:after
{
    content: "";
    display: inline-block;
    margin-left: 8px;
    width: 34px;
    height: 34px;
    background-image: url(img/calendar.png);
    background-repeat: no-repeat;
}

.timeForm
{
    margin-top: 22px;
    font-size: 18px;
    margin-left: 24px;
}

.timeForm,
.timeForm span,
.timeForm label
{
    display: inline-block;
    float: left;
    background-color: #f4f3f3;
}

.timeForm input
{
    width: 58px;
    height: 34px;
    padding: 0px;
    float: left;
    border: 1px solid #cbc8c8;
    background-color: #f4f3f3;
}

.timeForm label
{
    margin: 7px 9px 0px 5px;
}

.timeForm label:first-child
{
    margin-left: 0px;
}

.quote
{
    text-align: center;
padding: 20px 0px 52px 0px;
}

.quote blockquote
{
    font-size: 24px;
    color: #989393;
    display: inline-block;
    margin: 0px auto;
    position: relative;
    font-style: italic;
}

.quote blockquote:before
{
    content: "";
    display: inline-block;
    position: absolute;
    top: -20px;
    left: -15px;
    width: 52px;
    height: 39px;
    background-image: url(img/openQuote.png);
    background-repeat: no-repeat;
}

.quote blockquote:after
{
    content: "";
    display: inline-block;
    position: absolute;
    right: -60px;
    top: 16px;
    width: 52px;
    height: 39px;
    background-image: url(img/closeQuote.png);
    background-repeat: no-repeat;
}

.quote .quoter
{
    position: absolute;
    display: block;
    right: -130px;
    bottom: -50px;
    font-size: 18px;
    font-style: normal;
    color: #000000;
}

.partners div
{
    text-align: center;
    vertical-align: top;
    padding-bottom: 50px;
}

.partners div img
{
    display: inline-block;
}